!!!
%form{action: "/messages", method: "POST"}
  %label{for: "message"} What's new?
  %input{type: "text", id: "message", name: "message"}
  %input{type: "submit", value: "Tell it!"}

#messages
  - messages.each do |message|
    .message
      = message.body
