!!! 5
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %title Twitter Clone
    %script{type: "text/javascript", src: "/application.js"}
  %body
    %form{action: "/messages", method: "POST"}
      %label{for: "message"} What's new?
      %input{type: "text", id: "message", name: "message"}
      %input{type: "submit", value: "Tell it!"}
    %ul#messages
