!!! 5
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %title Twitter Clone
    %script{type: "text/javascript", src: "/application.js"}
    %link{rel: "stylesheet", href: "/application.css"}
  %body
    .navbar
      .navbar-inner
        .wrapper
          %ul.nav.pull-right
            %li#sign_in{href: "/sign_in"}
    .wrapper
      #content
        %form{action: "/messages", method: "POST"}
          %label{for: "message"} What's new?
          %input#message{type: "text", name: "message"}
          %button.btn.btn-primary{type: "submit"} Tell it!
        %ul#messages{href: "/messages"}
